@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*header */
header{
background: linear-gradient(to right, #093637, #44A08D); 
  color: var(--color-neutral-40);  
    font-family: "poppins";
}

.header-bottom-side{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-bottom-side-left{
  height: 100%;
  flex-basis: 50%;
}
.header-bottom-side-left h2{
  font-size: 2.6rem;
  margin-bottom: 1.1rem;
  font-family: poppins;
  font-weight: bold;
}
.header-bottom-side-left p{
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: poppins;
  font-size: 1rem;
}
.header-bottom-side-left button{
  background-color: var(--color-neutral-30);
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: var(--color-neutral-10);
  font-weight: 500;
  font-family: poppins;
  font-size: 1rem;
  margin-left: 10rem;
  margin-top: 1.5rem;
  
}
.header-bottom-side-left button:hover{
 

background: linear-gradient(to right, #093637, #44A08D);
  color: var(--color-neutral-30);
}
.header-bottom-side-right{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-side-right img {
  width: 100%;
  margin-left: 10rem;
 
}

.desc-product{
  margin: 40px 0px 0px 50px;
  font-family: 'inter', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #0F1111;
}

.fa-chevron-left{
  font-size: 36px;
  margin-right: 2.6rem;
  color: #0F1111;
}

.fa-chevron-right{
  font-size: 36px;
  margin-left: 2.6rem;
}
.desc-category{
  margin: 10px 0px 0px 30px;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #0F1111;
}


