
/*header */
header{
  background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #FFFFFF;  
    font-family: "poppins";
}

.header-bottom-side{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-bottom-side-left{
  height: 100%;
  flex-basis: 50%;
}
.header-bottom-side-left h2{
  font-size: 2.6rem;
  margin-bottom: 1.1rem;
  font-family: poppins;
  font-weight: bold;
}
.header-bottom-side-left p{
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: poppins;
  font-size: 1rem;
}
.header-bottom-side-left button{
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #158A8A;
  font-weight: 500;
  font-family: poppins;
  font-size: 1rem;
  margin-left: 10rem;
  margin-top: 1.5rem;
  
}
.header-bottom-side-left button:hover{
  background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #093637, #44A08D);
  color: #FFFFFF;
}
.header-bottom-side-right{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-side-right img {
  width: 100%;
  margin-left: 10rem;
 
}