@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 15%;
    top: 47%;
}

.container .product{
    background: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .product .image{
    width: 150px;
    height: 150px;
    margin: auto;
}

.container .product .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s linear;
}

.container .product .color{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 15px;
}

.container .product .color span{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    background: #48dfbe;
    cursor: pointer;
    position: relative;
}

.container .product .title{
    font-size: 22px;
    text-align: center;
}

.container .product .detail{
    text-align: center;
    font-size: 15px;
}

.container .product .detail p{
    margin: 15px;
    font-size: 25px;
}

.container .product .detail p span{
    color: #48dfbe;
}

.container .product .detail a{
    text-decoration: none;
    background: #48dfbe;
    padding: 8px 45px;
    border-radius: 8px;
    color: white;
    margin: 15px;
}

.container2{
  width: 200px;
  height: 150px;
  position: absolute;
  left: 30%;
  top: 47%;
}


.container2 .product{
    background: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container2 .product .image{
    width: 150px;
    height: 150px;
    margin: auto;
}

.container2 .product .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s linear;
}

.container2 .product .color{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 15px;
}

.container2 .product .color span{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    background: #48dfbe;
    cursor: pointer;
    position: relative;
}

.container2 .product .title{
    font-size: 22px;
    text-align: center;
}

.container2 .product .detail{
    text-align: center;
    font-size: 15px;
}

.container2 .product .detail p{
    margin: 15px;
    font-size: 25px;
}

.container2 .product .detail p span{
    color: #48dfbe;
}

.container2 .product .detail a{
    text-decoration: none;
    background: #48dfbe;
    padding: 8px 45px;
    border-radius: 8px;
    color: white;
    margin: 15px;
}