@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
	--color-neutral-0: #0d5c5c;
	--color-neutral-10: #158A8A;
  --color-neutral-20:#44A08D;
	--color-neutral-30: #FFFFFF;
	--color-neutral-40: #f5f5f5;
	--color-neutral-100: #000000;
 
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.img-logo {
	width: 70px;
	height: 50px;
}

.text-logo {
	color: var(--color-neutral-10);
	font-size: 30px;
	font-family: poppins;
}

/* começo da navegação */

.navBar {
	background-color: var(--color-neutral-30);
	color: var(--color-neutral-10);
	padding: 1rem;
	position: sticky;
	top: 0;
	box-shadow: 10px 0px 10px rgb(146, 121, 126);
	z-index: 99;
}

.navBar>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

/* lista de navegação */

nav ul {
	display: flex;
	position: relative;
	list-style: none;
	align-items: center;
	left: 2.5rem;
}

nav ul li {
	margin-right: 2rem;
	cursor: pointer;
	font-family: poppins;
	font-weight: 500;
}

nav ul li:hover {
	transform: translateY(-5px);
	transition: all 0.2s;
	font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-neutral-10);
}
/* barra de pesquisa */

.textInputWrapper {
	position: relative;
	width: 500px;
	margin: 12px 5px;
	color: var(--color-neutral-10);
}

.textInputWrapper:before {
	transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before, .textInputWrapper:after {
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	pointer-events: none;
	bottom: -1px;
	z-index: 4;
	width: 100%;
}

.textInputWrapper:focus-within:before {
	border-bottom: 1px solid var( --color-neutral-10);
}

.textInputWrapper:before {
	transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
	border-bottom: 1px solid var( --color-neutral-10);
	transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
	border-bottom: 2px solid var( --color-neutral-10);
	transform: scaleX(1);
}

.textInputWrapper:after {
	content: "";
	transform: scaleX(0);
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	will-change: transform;
	border-bottom: 2px solid var( --color-neutral-10);
	border-bottom-color: var( --color-neutral-10);
}

.textInput::placeholder {
	transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	opacity: 1;
	user-select: none;
	color: var(--color-neutral-100);
}

.textInputWrapper .textInput {
	border-radius: 5px 5px 0px 0px;
	box-shadow: 3px 2px 5px rgb(35 35 35 / 30%);
	max-height: 36px;
	background-color: var(--color-neutral-30);
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 200ms;
	transition-property: background-color;
	color: var(--color-neutral-100);
	font-size: 14px;
	font-weight: 500;
	padding: 12px;
	width: 100%;
	border-left: none;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

.textInputWrapper .textInput:focus, .textInputWrapper .textInput:active {
	outline: none;
}

.textInputWrapper:focus-within .textInput, .textInputWrapper .textInput:focus, .textInputWrapper .textInput:active {
	background-color: var(--color-neutral-30);
}

.textInputWrapper:focus-within .textInput::placeholder {
	opacity: 0;
}

/* Media Queries */

@media (max-width: 800px) {
	.logo {
		font-size: 1.2rem;
	}
	.header-bottom-side {
		flex-direction: column;
		text-align: center;
		padding-top: 4rem;
	}
	nav {
		position: absolute;
		background-color: #c2c2c2;
		width: 100%;
		top: 46px;
	}
	nav ul {
		flex-direction: column;
	}
	nav ul li {
		text-align: center;
		padding: 0.8rem;
	}
}

.profile-container {
	position: relative;
	display: inline-block;
}

.cart-icon {
	position: relative;
	display: inline-block;
}

.img-cart {
	width: 17px;
	cursor: pointer
}

.img-perfil {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 60px;
	right: 0;
	background-color: var(--color-neutral-30);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
	transition: .5s;
}

.dropdown-menu a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: var(--color-neutral-100);
}

.dropdown-menu a:hover {
	background-color: var(--color-neutral-10);
}

.header-inner-content {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.img-logo {
	width: 70px;
	height: 50px;
}

.text-logo {
	color: var(--color-neutral-10);
	font-size: 30px;
	font-family: poppins;
}

/*---------FIM DA NAVEGAÇÃO-----------*


/*------------ FOOTER -----------------*/
footer {
	width: 100%;
	color: var(--color-neutral-40);
}

.footer-link {
	text-decoration: none;
}

#footer_content {
	background-color: var(--color-neutral-10);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 3rem 3.5rem;
}

#footer_contacts h1 {
	margin-bottom: 0.75rem;
}

#footer_social_media {
	display: flex;
	gap: 1.3rem;
	margin-top: 1.5rem;
}

#footer_social_media .footer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-neutral-40);
	border-radius: 50%;
	transition: all 0.4s;
}

#footer_social_media .footer-link i {
	font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
	opacity: 0.8;
}

#instagram {
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
	background-color: #4267b3;
}

#whatsapp {
	background-color: #25d366;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

.footer-list .footer-link {
	color: var(--color-neutral-30);
	transition: all 0.4s;
}

.footer-list .footer-link:hover {
	color: rgb(255, 255, 255, 0.8);
}

#footer_subscribe {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#footer_subscribe p {
	color: var(--color-neutral-30);
}

#input_group {
	display: flex;
	align-items: center;
	background-color: var(--color-neutral-30);
	border-radius: 4px;
	color: var(--color-neutral-100);
}

#input_group input {
	all: unset;
	padding: 0.75rem;
	width: 100%;
}

#input_group button {
	background-color: var(--color-neutral-0);
	border: none;
	color: var(--color-neutral-40);
	padding: 0px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
	transition: all 0.4s;
}

#input_group button:hover {
	opacity: 0.8;
}

#footer_copyright {
	display: flex;
	justify-content: center;
	background-color: var(--color-neutral-0);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}

@media screen and (max-width: 768px) {
	#footer_content {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}

@media screen and (max-width: 426px) {
	#footer_content {
		grid-template-columns: repeat(1, 1fr);
		padding: 3rem 2rem;
	}
}